/*external font*/
@import url('https://fonts.googleapis.com/css?family=Acme');

/* body style */

*{
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	font-family: 'Times New Roman', Times, serif;
	box-sizing: border-box;
}

body{
	text-transform: uppercase;
	max-width: 100%;
	background-color:#ffffff;
	background-size: contain;
	font-weight:normal;
}
img {
	display: block;
}
.main_section {
	max-width: 60em;
	margin: 0 auto;
	background-color: #FFFFFF;
}

#main_section_contact{
	background-color: #F5F5F5;
	max-width: 60em;
	margin: 0 auto;
}


/* Header style */

.main_header{
    background-image: url(../img/companylogoBG.jpg);
	height: 3.5em;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	font-size: 375%;
	font-family: 'Acme';
	text-shadow: -3px 0 #000000, 0 3px #000000,
				 3px 0 #000000, 0 -3px #000000;
}
.main_header img{
	width: 100%;
	height: auto;
}

/*Home page*/
.Homepage_section figure:nth-of-type(1){
	background-image: url(../img/product3.jpg);
}

@media only screen and (min-width: 960px)
{

	#desktop_hidden
	{
		display: none;
	}

}


/* video enable */

video {
	position: fixed;
	width: 100%;
	height: auto;
	left: 0;
	top: 0;
	background-size: 100%;
	background-position: 100% 100%;
	z-index: -1;
}

/* Navigation style + hamburger menu*/

nav {
	background: #707070;
	border: 0.06em solid #F5F5F5;
	height: auto;
	text-align: center;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}
.menu {
	margin: 0 auto;
	display: flex;
	list-style-type: none;	/*to take out the dots*/
	max-width: 18.7em;
}
.menu a {
	color: #ffffff;
	text-decoration: none;
	clear: left;
}
li a:hover {
	color: #2699FB;
}
.label{
	margin: 0 2.5em 0 0;
	font-size: 2em;
	display: none;
	color: #ffffff;
}
#toggle{
	display: none;
}

/* Articles style */

#Homepage_section img{
	width: 100%;
	height: auto;
}
.header {
	background: #2699FB;
	text-align: center;
	height: 1.7em;
	color: #ffffff;
	font-size: 375%;
	padding-top: 0.37em;
	padding-bottom: 0.625em;
}
.header_mobile{

	background: #2699FB;
    display: flex;
    align-items: center;
	justify-content: center;
	padding: 10% 40% 10% 40%;
    height: 3.7em;
	width: 100%;
	color: #ffffff;
	font-size: 375%;
	text-align: center;
}
.header_board{

	background: #2699FB;
    display: flex;
    align-items: center;
	justify-content: center;
	padding: 10% 40% 10% 40%;
    height: 3.7em;
	width: 100%;
	color: #ffffff;
	font-size: 375%;
	text-align: center;
}
.header_console{

	background: #2699FB;
    display: flex;
    align-items: center;
	justify-content: center;
	padding: 10% 40% 10% 40%;
    height: 3.7em;
	width: 100%;
	color: #ffffff;
	font-size: 375%;
	text-align: center;
}

.product_header{
	background: #2699FB;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.7em;
	width: 100%;
	color: #ffffff;
	font-size: 375%;
	text-align: center;
}
.change_header{
	display: none;
}

#tablet_pic{
	display: none;
}


/*contact page*/
#content{
	color: #aaaaaa;
	background: #F5F5F5;
	box-sizing: border-box;

}
h3{
	font-size: 2em;
	display: block;
	margin: 1.75em;
	margin-bottom: 0;
	text-transform: initial;
}
form {
	margin: 1em;
	margin-top: 0;
	font-size: 2em;
	overflow: hidden;
}

fieldset{
	width: 88%;
	margin: 1em;
	padding: 0;
	background: #fff;
    border: 0.125em solid #707070;
}

#lable{
	font-size: 0.7em;
	color: #707070;
	font-size: 0.95em;
}

#topic {
	display: block;
	padding-left: 1em;
	height: 1.8125em;
	line-height: 1.75em;
	text-transform: initial;
	
}
select{
	float: right;
	height: 80%;
	margin:0.125em;
	width:70%;
	border: 0.125em solid #707070;
	padding-top: 0.1254em;
}
.contactFormFieldset{
	padding-left: 0.1em;
	padding-top: 0.1em;
	height: 1.8125em;
	line-height: 1.75em;
}
.contactFormFieldset input{
	font-size: 0.95em;
}
textarea{
	font-size: 0.95em;
	height: 5em;
}

#button{
	background: #2699FB;
	padding: 0.4375em;
 	width: 88%;
    height: 2.125em;
	margin-left: 1.3em;
	margin-bottom: 5%;
	color: #F5F5F5;
	justify-content: center;
	font-size: 80%;
}

/* footer design */

footer{

	justify-content: center;
	background-color: #000000;
	height: 3em;
	width: 100%;
	border: 0.0625em solid #F5F5F5;
	line-height: 3em;
	margin-left: auto;
	margin-right: auto;

}
p{
	color: #ffffff;
	text-transform: initial;
	text-align: center;
	font-size: 170%;
}
aside{
	display: none;
}

/* product page gallery */

#products {
	display: grid;
  	grid-template-columns: auto auto auto;
  	grid-gap: 0.625em;
	padding: 1em;
}

#products img{
	height: 15em;
	width: 100%;
}

	/* Media Quaries*/

	/*Web Page style*/
@media only screen and (min-width: 960px)
{
	.hamburger{
		display: none;
	}

}


	/* Tablet style*/
@media only screen and (min-width: 360px) and (max-width: 960px)
{

	/*index page*/
	.header_board{
		display: none;
	}
	.header_board img{
		display: none;
	}
	.header_mobile{
		display: none;
	}

	#first_two{
		display: grid;
		grid-template-columns: auto auto;
		grid-gap: 1em;
	}

	#first_two img{
		width: 96%;
		height: 20em;
		margin: 1em;
	}

	#tablet_hidden{
		display: none;
	}

	/*product page*/
	#products{
		grid-template-columns: auto auto;
		grid-gap: 1em;
	}
	#products img{
		margin: 0.3125em;
		height: 15em;
	}
	.product_header{
		display: none;
	}
	/* disable video */
	video{
		display: none;
	}

	#board{
		display: none;
	}

	/*contact page*/
	#topic {
		display: block;
		padding-left: 1em;
		height: 1.8125em;
		line-height: 1.75em;
		text-transform: initial;
		
	}


}

  /* Mobile style */
@media only screen and (max-width: 360px)
{
	/*hamburger menu*/

	nav{
		background-color: #707070;
		overflow: hidden;
		border: 0.25em solid #F5F5F5;
		padding-top: 0;
		padding-bottom: 0;
	}
	.label {
		display: block;
		cursor: pointer;
		float: left;
		width: 2em;
		height: auto;
		font-size: 2em;
	}
	.menu{
		width: 100%;
		display: none;
	}
	.menu a{
		display: block;
		line-height: 1.875em;
		margin: 0;
		font-size: 2.25em;
	}
	#toggle:checked + .menu {
		display: block;
	}

	/* disable video */
	video{
		display: none;
	}

	/*take of blue areas*/
	.header_mobile{
		display: none;
	}
	.header_board{
		display: none;
	}
	.header_console{
		display: none;
	}
	.header{
		height: 2em;
	}
	img{
		border: 0.1875em solid #F5F5F5;
		height: 23.5em;
	}
	html{
		font-size: 50%;
	}


	/*product page*/
	.change_header{
		background: #2699FB;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 2em;
		width: 100%;
		color: #ffffff;
		font-size: 375%;
		text-align: center;
	}
	.product_header{
		display: none;
	}
	#products{
		border: 0.1875em solid #F5F5F5;
		grid-template-columns: auto;
	}
	#products img{
		height: 23.5em;
	}

	#tablet_pic{
		display: none;
	}

	#desktop_hidden
	{
		display: none;
	}


}

